[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false
name = "aliyun"

[[source]]
url = "http://pypi.doubanio.com/simple/"
verify_ssl = false
name = "douban"

[[source]]
url = "https://mirrors.ustc.edu.cn/pypi/web/simple/"
verify_ssl = true
name = "ustc"

[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "tsinghua"

[dev-packages]
pylint = "*"

[packages]
aiohttp = "==3.4.4"
django = "==2.1.2"
jinja2 = "==2.10"

[requires]
python_version = "3.7"
